/* IMPORTACIÓ DE FONTS */
@font-face {
  font-family: rickandmorty;
  src: url(files/get_schwifty.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');


/*STYLE DE LA PÀGINA GENERAL*/
.App {
  text-align: center;
  text-decoration: none;
}

.App-logo {
  margin: 10px; 
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  text-align: center;
  background-color: #1b202c;
  font-family: 'Dosis', sans-serif;
}
strong{
  color: #cbdf64;
  font-weight: 700;
}

#content.fixed{/*Per quan el menu es queda fixe, que no es mengi part del contingut*/
  margin-top: 110px;
}

/*HEADER STYLE*/
#header {
  position: sticky;
  padding-top: 7px;
  top: 0;
  z-index: 1000; 
  background-color: #262c3a;
  transition: all 0.3s;
}

#header.fixed {
  position: fixed;
  width: 100%;
}

/* CONFIGS DEL TITOL/LOGO */
#header h2 {
  padding: 25px 0px 25px 0px;
  margin: 0;
  font-size: 100px; 
  transition: all 0.3s; 
}

#header.fixed h2 {
  margin-top: 5px;
  font-size: 30px; 
  margin-left: 70px; 
  padding: 0;
  float: left;
  transition: all 0.3s; 
}

.linkHeader{ /* STYLE DEL TITOL/LOGO */
  font-family: rickandmorty;
  color: #12aec5;
  text-decoration: none;
  -webkit-text-stroke-width: 0.001px; 
  -webkit-text-stroke-color: #000;
  text-shadow: 4px 0 #cbdf646c, -4px 0 #cbdf646c, 0 4px #cbdf646c, 0 -4px #cbdf646c,
             2px 2px #cbdf646c, -2px -2px #cbdf646c, 2px -2px #cbdf646c, -2px 2px #cbdf646c;
}

.linkHeader2{ /* STYLE DEL TITOL/LOGO */
  font-family: rickandmorty;
  color: #12aec5;
  text-decoration: none;
  -webkit-text-stroke-width: 0.001px; 
  -webkit-text-stroke-color: #cbdf64;
  text-shadow: 6px 0 #000, -6px 0 #000, 0 6px #000, 0 -6px #000,
             3px 3px #000, -3px -3px #000, 3px -3px #000, -3px 3px #000;
}

#header h2:hover{
  color: #35bdd2;
  font-size: 105px;
  transition: all 0.3s; 
}

#header.fixed h2:hover {
  font-size: 35px; 
  transition: all 0.3s;
}

/* STYLE DEL LA ZONA DEL SEARCH BUTTONS/BAR */
#searchDiv{
  padding: 0px 0px 15px 0px;
}
.search{
  background-color: #1d232f; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.search:hover{
  background-color: #363f50; 

}

.searchBar{
  background-color: #1d232f; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor:text;
}
.filterBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 50px 0 50px 0;
}
.filterButton{
  height: 80%;
  width: 100px;
  margin: 0px 5px;
  /* border-color: #8BCF21; */
  border-color: #cbdf64;
  border-radius: 5px;
  background-color: #1d232f;
  color: white; 
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}
.filterButton:hover{
  background-color: #cbdf64;
  color: #1d232f;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.filterButtonActive{
  background-color: #cbdf64;
  color: #1d232f;
  cursor: pointer;
  height: 80%;
  width: 100px;
  margin: 0px 5px;
  border-radius: 5px;
  border-color: #cbdf64;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

/* STYLE DELS BUTTONS DE LA PAGINA */
.buttonsDiv{
  width: 100%;
}

.button{
  width: 33%;
  background-color: #252d3b; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.shortButton{
  width: 200px;
}

.button:hover{
  background-color: #363f50; 

}

/* STYLE DEL VIDEO */
/* contenidor general per definir la posició del video  */
.videowrapper {  
  position: relative;
  overflow: hidden;
} 

#fullScreenDiv {/* Contenidor delimitador del video */
  min-height: 100%; 
  height: 40vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: gray;
  position: relative;
}

#video {/* styling del propi video */
  width: auto; 
  height: auto;
  min-width: 100%; 
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover; 
}

#videoMessage { /*text de sobre el video*/
  width: 100%; 
  height: 100%;
  position: absolute; 
  top: 0; 
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#videoMessage h2 {
  color: white;
  background-color: #000;
}

/*STYLE DE LES LLISTES DE CARTES*/
.ListPage{
  text-decoration: none;
  color: white;
}

#ListHome div h2{
  margin: 20px 0px 0px 70px;
  font-size: 30px;
  text-align: left;
  color: white;
}

.ListPage h2{
  font-size: 30px;
}

#charListHome{
  vertical-align: middle;

}

.linkChar{
 width: fit-content;
 text-decoration: none;
 color: white;
}

.linkChar:hover{
  background-color: #12adc583;
  color: white;
 }

 .linkChar:hover img{
  width: 135px;
  opacity: 0.8;
 }
 .linkChar:hover h3, .card:hover h3{
  color: #cbdf64;
 }

.link{
  text-decoration: none;
  width: 90%;
  color: white;
}

.link:hover{
  width: 91%;
}

/*STYLE DE LES CARTES*/
.characterList{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.charList{
  display: grid;
  grid-template-columns: auto auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.charList3{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: #262c3a;
  width: 100%;
  margin: 10px;
  line-height: 75px;
  font-size: 30px;
  display: flex;
}

.cardd{
  margin: 10px
}

#chaCa{
  width: fit-content;
}

#chaCa p, #chaCa h3{
  text-align: center;
  margin: 0;
}

.card3 {
  background-color: #262c3a;
  width: 100%;
  margin: 10px;
  line-height: 75px;
  height: auto;
  font-size: 20px;
  display: flex;
}

.card:hover {
  background-color: #12adc5b7;
  height: auto;
  transition: all 0.3s; 
}

.card img, .cardd img{
  width: 130px;
  border: #262c3a solid 10px;
}
.card3 img{
  width: 100px;
  vertical-align: middle;
  height: 100px;
  border: #262c3a solid 10px;
}

.cardH3 {
  text-align: left;
  vertical-align: middle;
  margin: 0px 0px 0px 25px;
  line-height: 1.5;
}

.cardP {
  margin: 0;
  line-height: 1.7;
  text-align: left;
  margin-left: 25px;
  color: #b7b7b7;
}

.detailButton{
  text-decoration: none;
  padding: 15px;
  margin: 70px 0px 70px 0px;
  color: white;
  background-color: #12adc599;
}

.error{ /* per a tots els missatges d'alerta */
  color: red;
  text-align: center;
}

/*STYLE DEL FOOTER*/
#footer{
  border-top: #fff solid 2px;
  background-color: #262c3a;
  color: rgb(92, 92, 92);
  padding: 50px;
  margin-top: 70px;
}

.verd{
  color:#cbdf64;
}

.verd2{
  color:#99a55a;
}

.blau{
  color:#12aec5;
}

.detailPage{
  margin: 50px 0 50px 0;
  text-decoration: none;
  color: white;
}

/* CSS button extret de la pagina web https://getcssscan.com/css-buttons-examples */
.button-33 {
  margin: auto;
  height: 50px;
  background-color: #cbdf64;
  border-radius: 5px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.button-33:disabled {
  opacity: 0.5; /* Ajusta el valor de opacidad según tus preferencias */
  cursor: not-allowed;
}

.material-icons{ /* al document d'index hem importat la llibreria d'icones de google */
  font-size: 16px;
  width: 16px;
}

.t{
  transition: all 0.5s;
}

.returnBut{
  text-decoration: none;
  width: 100px;
}

.return{
  margin: 0 auto 50px auto;
  width: fit-content;
}

.return:hover .material-icons{
  width: 26px;
}

.load{
  background-color: #12adc599;
  width: 25%;
}
.load:hover{
  background-color: #34cce399;
  width: 27%;
}

.searchButton{
  background-color: #12adc599;
}

.searchButton:hover{
  background-color: #34cce399;
}

.searchButton:disabled{
  background-color: #1d232f;
  opacity: 0.7;
  cursor: not-allowed;
}

.searchButton:disabled:hover{
  background-color: #1d232f;
  
}

.margin{
  margin: 100px 0 100px 0;
}

.margin2{
  margin: 50px 0 50px 0;
}

.detailtxt{
  margin: 30px auto 30px auto;
}

.ListPage{
  margin-top: 50px;
}